#con{
	width: 980px;
	/* height: ; */
	margin: 0 auto;
	border: 0.1px solid black;
	/* float: ; */
}

#head{	
	width: 100px;
	border: 0.1px solid black;
}

#nav{	
	width: 100px;
	border: 0.1px solid black;
}

#main{
	height: 800px;
	border: 0.1px solid black;
}

#left{
	width: 200px;
	height: 750px;
	border: 0.1px solid black;
	float: left;
	margin-right: 10px;
}

#right{
	width: 740px;
	height: 750px;
	border: 0.1px solid black;
	float: right;
}